Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

.lintstagedrc.json:

{
  "*.ts": [
    "npx eslint --fix"
  ],
  "*.tsx": [
    "npx eslint --fix"
  ],
  "*.js": [
    "npx eslint --fix"
  ],
  "*.cjs": [
    "npx eslint --fix"
  ],
  "*.mjs": [
    "npx eslint --fix"
  ],
  "package.json": [
    "npx sort-package-json",
    "npx prettier --write"
  ],
  "*.md": [
    "npx prettier --write"
  ],
  "README.md": [
    "npx markdown-toc -i",
    "npx prettier --write"
  ]
}

docs: updated toc
  README.md
Due: npx prettier --write, npx markdown-toc -i

feat: check for openAI API key (#86)
  src/client/apps/story/index.tsx
  src/client/apps/story/story-form.tsx
  src/electron/background.ts
  src/electron/future/ipc/keys.ts
Due: npx eslint --fix

feat: add note to dashboard
  src/client/organisms/layout/core.tsx
  src/client/pages/[locale]/core/dashboard.tsx
Due: npx eslint --fix

chore(release): 1.0.0-alpha.20
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  bf7a0cb7ad52f7657fa0b7cb4582778e12e2fbf7
Due: none

docs: added image for "download models"
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: changed direction and focus on setup (#87)
  README.md
Due: npx prettier --write, npx markdown-toc -i

chore(release): 1.0.0-alpha.21
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  d03d750de894ca4b3d850e148098590b3553171d
Due: none

docs: use "apps"
  README.md
Due: npx prettier --write, npx markdown-toc -i

fix: use correct path to downloaded checkpoint
  package-lock.json
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

fix: use correct path to downloaded checkpoint (#88)
  package-lock.json
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.22
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  4407e220b4f5cec95db2d4239f18e4b45b94c3e0
Due: none

fix: path to taesd
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

fix: path to taesd (#89)
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.23
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  86ed842492b2e08dec614bf67608b7cc5b00a95e
Due: none

fix(live-painting): generate input image when nothing exists yet
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

refactor: simplified the creation of the image
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

fix(live-painting): generate input image when nothing exists yet (#90)
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.24
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  efe56da20fd8174d19bdee3cb4bed031c574f2d9
Due: none

feat: add download manager
  package-lock.json
  package.json
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/enums.ts
  src/electron/future/services/download-manager/index.ts
  src/electron/future/services/download-manager/types.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: add more tests
  src/electron/future/services/__tests__/download-manager.test.ts
Due: npx eslint --fix

test: add more test coverage
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/index.ts
Due: npx eslint --fix

refactor: remove cancel
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/index.ts
  src/electron/future/services/download-manager/types.ts
Due: npx eslint --fix

feat: a generated story can be closed
  src/client/apps/story/index.tsx
Due: npx eslint --fix

feat: communicate existence of openaiapikey
  src/client/apps/story/index.tsx
  src/electron/future/ipc/keys.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/stores/watchers.ts
Due: npx eslint --fix

feat: a generated story can be closed (#92)
  src/client/apps/story/index.tsx
Due: npx eslint --fix

refactor: rename cancelled to canceled
  src/client/pages/[locale]/installer/02.tsx
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/install.ts
  src/electron/future/services/download-manager/enums.ts
  src/shared/enums.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.25
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  e3ae3cc71addad779cb631b8a7e77e09df6f2172
Due: none

feat: communicate existence of openaiapikey (#93)
  src/client/apps/story/index.tsx
  src/electron/future/ipc/keys.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/stores/watchers.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.26
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  6ca2b7a6060fd30ad59144335b36d7a2c403e517
Due: none

docs: provide beter docs
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/index.ts
Due: npx eslint --fix

test: adjust test
  src/electron/future/services/__tests__/download-manager.test.ts
Due: npx eslint --fix

chore: remove invalid releases from changelog
  CHANGELOG.md
Due: npx prettier --write
