Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

feat: improve live painting UI
  package-lock.json
  src/client/apps/live-painting/index.tsx
Due: npx eslint --fix

fix: help i18n missing
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
Due: none

refactor: remove unused type
  src/client/apps/live-painting/index.tsx
Due: npx eslint --fix

fix: no entries breaks store
  src/client/pages/[locale]/core/dashboard.tsx
  src/electron/background.ts
  src/electron/future/ipc/vector-store.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix

refactor: move vector store init
  src/electron/future/main.ts
Due: npx eslint --fix

feat: show results on dashboard
  package-lock.json
  package.json
  resources/docs/dashboard/readme.md
  resources/docs/live-painting/readme.md
  resources/docs/settings/readme.md
  src/client/pages/[locale]/core/dashboard.tsx
  src/electron/future/main.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: search returns nothing when collection is empty
  src/electron/future/services/__tests__/vector-store.test.e2e.ts
Due: npx eslint --fix

chore(eslint): ignore "e2e"
  .eslintrc.json
Due: none

refactor: adjust eslint
  .eslintrc.json
  src/client/apps/live-painting/drawing-area.tsx
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

refactor: remove logs
  src/electron/future/ipc/vector-store.ts
  src/electron/future/main.ts
Due: npx eslint --fix

refactor: adjust path
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix

feat: integrate vector store (#70)
  .eslintrc.json
  package-lock.json
  package.json
  resources/docs/dashboard/readme.md
  resources/docs/live-painting/readme.md
  resources/docs/settings/readme.md
  src/client/apps/live-painting/drawing-area.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/electron/background.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/ipc/vector-store.ts
  src/electron/future/main.ts
  src/electron/future/services/__tests__/vector-store.test.e2e.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.11
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  e11285b8d1c64f781fd261158b850640d132e073
Due: none

feat: prompt uses vector store
  src/client/atoms/logo/captain.tsx
  src/client/ions/hooks/vector-store.ts
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
Due: npx eslint --fix

feat: allow frontmatter info
  package-lock.json
  package.json
  resources/docs/create-action/readme.md
  resources/docs/dashboard/readme.md
  resources/docs/live-painting/readme.md
  resources/docs/settings/color_mode.md
  resources/docs/settings/language.md
  resources/docs/settings/openai_api.md
  resources/docs/settings/readme.md
  src/client/ions/hooks/vector-store.ts
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
  src/electron/future/main.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add icon to type
  src/client/ions/hooks/vector-store.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix

feat: add description action
  src/client/ions/hooks/vector-store.ts
  src/electron/future/main.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix

feat: allow silent actions
  resources/docs/silent-action/language-de.md
  resources/docs/silent-action/language-en.md
  src/client/organisms/color-mode-selector/index.tsx
  src/client/organisms/language-select/index.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
Due: npx eslint --fix, npx prettier --write

feat: add color mode switch
  resources/docs/silent-action/color-mode-dark.md
  resources/docs/silent-action/color-mode-light.md
  resources/docs/silent-action/language-de.md
  resources/docs/silent-action/language-en.md
  src/client/ions/hooks/vector-actions.ts
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
Due: npx eslint --fix, npx prettier --write

feat: improve ui
  src/client/ions/hooks/vector-store.ts
  src/client/pages/[locale]/core/dashboard.tsx
Due: npx eslint --fix

style: import order
  src/client/pages/_app.tsx
Due: npx eslint --fix

feat: prompt uses vector store (#71)
  package-lock.json
  package.json
  resources/docs/create-action/readme.md
  resources/docs/dashboard/readme.md
  resources/docs/live-painting/readme.md
  resources/docs/settings/color_mode.md
  resources/docs/settings/language.md
  resources/docs/settings/openai_api.md
  resources/docs/settings/readme.md
  resources/docs/silent-action/color-mode-dark.md
  resources/docs/silent-action/color-mode-light.md
  resources/docs/silent-action/language-de.md
  resources/docs/silent-action/language-en.md
  src/client/atoms/logo/captain.tsx
  src/client/ions/hooks/vector-actions.ts
  src/client/ions/hooks/vector-store.ts
  src/client/organisms/color-mode-selector/index.tsx
  src/client/organisms/language-select/index.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.12
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  d191292db1b4a5422b078763392e094b21484a41
Due: none

feat: add math prompt
  package-lock.json
  package.json
  src/client/pages/[locale]/prompt.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: extra ipc call
  src/client/pages/[locale]/prompt.tsx
Due: npx eslint --fix

fix: vector store results with bad score
  src/client/ions/hooks/vector-store.ts
  src/client/pages/[locale]/prompt.tsx
  src/electron/future/ipc/vector-store.ts
Due: npx eslint --fix

feat: add math prompt (#72)
  package-lock.json
  package.json
  src/client/ions/hooks/vector-store.ts
  src/client/pages/[locale]/prompt.tsx
  src/electron/future/ipc/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.13
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  d91755c74af504128f33858d4ab65c81949e2303
Due: none

feat: adjust action logic
  electron-builder.yml
  jest.config.client.ts
  jest.setup.client.ts
  package-lock.json
  package.json
  resources/actions/dashboard/readme.md
  resources/actions/functions/color-mode-dark.md
  resources/actions/functions/color-mode-light.md
  resources/actions/functions/language-de.md
  resources/actions/functions/language-en.md
  resources/actions/live-painting/readme.md
  resources/actions/settings/color_mode.md
  resources/actions/settings/language.md
  resources/actions/settings/openai_api.md
  resources/actions/settings/readme.md
  resources/docs/create-action/readme.md
  src/client/ions/handlers/__tests__/action.test.ts
  src/client/ions/handlers/action.ts
  src/client/ions/hook-containers/actions.ts
  src/client/ions/hooks/__tests__/vector-actions.test.ts
  src/client/ions/hooks/__tests__/vector-store.test.ts
  src/client/ions/hooks/vector-actions.ts
  src/client/ions/hooks/vector-store.ts
  src/client/organisms/layout/core.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/ipc/sdk.ts
  src/electron/future/ipc/vector-store.ts
  src/electron/future/main.ts
  src/electron/future/services/vector-store.ts
  src/electron/future/stores/index.ts
  src/shared/__tests__/string.test.ts
  src/shared/build-key.ts
  src/shared/enums.ts
  src/shared/string.ts
  src/shared/types/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: remove duplicate listener
  src/client/apps/live-painting/index.tsx
Due: npx eslint --fix

test: update installer test
  playwright/installer.test.ts
Due: npx eslint --fix

fix: update action frontmatter
  resources/actions/functions/color-mode-dark.md
  resources/actions/functions/color-mode-light.md
  resources/actions/functions/language-de.md
  resources/actions/functions/language-en.md
Due: npx prettier --write

feat: remove vector store init
  src/electron/future/main.ts
Due: npx eslint --fix

feat: adjust action logic (#73)
  electron-builder.yml
  jest.config.client.ts
  jest.setup.client.ts
  package-lock.json
  package.json
  playwright/installer.test.ts
  resources/actions/dashboard/readme.md
  resources/actions/functions/color-mode-dark.md
  resources/actions/functions/color-mode-light.md
  resources/actions/functions/language-de.md
  resources/actions/functions/language-en.md
  resources/actions/live-painting/readme.md
  resources/actions/settings/color_mode.md
  resources/actions/settings/language.md
  resources/actions/settings/openai_api.md
  resources/actions/settings/readme.md
  resources/docs/create-action/readme.md
  src/client/apps/live-painting/index.tsx
  src/client/ions/handlers/__tests__/action.test.ts
  src/client/ions/handlers/action.ts
  src/client/ions/hook-containers/actions.ts
  src/client/ions/hooks/__tests__/vector-actions.test.ts
  src/client/ions/hooks/__tests__/vector-store.test.ts
  src/client/ions/hooks/vector-actions.ts
  src/client/ions/hooks/vector-store.ts
  src/client/organisms/layout/core.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/ipc/sdk.ts
  src/electron/future/ipc/vector-store.ts
  src/electron/future/main.ts
  src/electron/future/services/vector-store.ts
  src/electron/future/stores/index.ts
  src/shared/__tests__/string.test.ts
  src/shared/build-key.ts
  src/shared/enums.ts
  src/shared/string.ts
  src/shared/types/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.14
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  bc56f249ec72c8d9071fd8883e7e3bdacf89a9d8
Due: none

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
