Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

feat: prototype c2
  package-lock.json
  package.json
  src/client/ions/hooks/resize-observer.ts
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/ipc/listeners.ts
  src/electron/future/main.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: improved everything
  package-lock.json
  package.json
  playwright/git.test.ts
  playwright/installer.test.ts
  src/client/pages/[locale]/installer.tsx
  src/client/pages/[locale]/installer/02.tsx
  src/electron/background.ts
  src/electron/future/ipc/install.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/main.ts
  src/electron/future/utils/__test__/git.test.ts
  src/electron/future/utils/fs.ts
  src/electron/future/utils/git.ts
  src/electron/future/utils/path-helpers.ts
  src/electron/future/utils/unpack.ts
  src/shared/flags.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

refactor: a value between 0 and 1
  src/electron/future/utils/git.ts
Due: npx eslint --fix

refactor: the value should be between 0 and 1
  src/electron/future/utils/git.ts
Due: npx eslint --fix

feat: don't pack git inside the installer
  electron-builder.yml
Due: none

feat: vector store with langchain & hnswlib
  package-lock.json
  package.json
  playwright/assistant.test.ts
  src/electron/background.ts
  src/electron/future/ipc/assistant.ts
  src/electron/future/utils/vector-store.ts
  src/electron/future/vector-store-manager.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: run "lfs" before "clone"
  package.json
  playwright/git.test.ts
  src/electron/future/ipc/install.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/utils/__test__/git.test.ts
  src/shared/flags.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: skip when not local
  playwright/installer.test.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.9
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  5625781e125339bf9e7ad41d3ac575f71b0302e5
Due: none

feat: adjust live-painting app
  src/client/apps/live-painting/atoms.ts
  src/client/apps/live-painting/drawing-area.tsx
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/rendering-area.tsx
  src/client/apps/story/index.tsx
  src/client/pages/[locale]/apps/constants.ts
  src/client/pages/[locale]/apps/live-painting.tsx
  src/electron/future/ipc/listeners.ts
Due: npx eslint --fix

fix: unpack and download were conflicting
  src/client/pages/[locale]/installer/02.tsx
  src/electron/future/ipc/install.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

fix: live-painting running after app closed
  src/client/apps/live-painting/index.tsx
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

feat: better window and app management
  src/client/apps/live-painting/index.tsx
  src/client/organisms/language-select/index.tsx
  src/client/organisms/tab/index.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/core/settings.tsx
  src/client/pages/[locale]/dashboard.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/background.ts
  src/electron/future/main.ts
  src/electron/future/utils/core.ts
  src/shared/enums.ts
Due: npx eslint --fix

feat: integrate suggestions
  src/client/organisms/tab/index.tsx
  src/client/pages/[locale]/core/help.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/pages/_app.tsx
  src/electron/future/main.ts
  src/electron/future/utils/core.ts
Due: npx eslint --fix

feat: improve live-paint
  src/client/apps/live-painting/index.tsx
  src/client/pages/[locale]/apps/live-painting.tsx
  src/electron/future/main.ts
Due: npx eslint --fix

feat: use qdrant as vector store
  src/electron/future/utils/vector-store.ts
Due: npx eslint --fix

feat: improve ui
  src/client/apps/live-painting/index.tsx
  src/client/pages/[locale]/apps/live-painting.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/core/help.tsx
  src/client/pages/_app.tsx
Due: npx eslint --fix

feat: integrated verctor store everywhere
  .eslintrc.json
  .gitignore
  jest.config.electron.e2e.ts
  package-lock.json
  package.json
  playwright/assistant.test.ts
  src/electron/future/ipc/assistant.ts
  src/electron/future/ipc/vector-store.ts
  src/electron/future/main.ts
  src/electron/future/services/__test__/e2e/vector-store.test.ts
  src/electron/future/services/vector-store.ts
  src/electron/future/utils/path-helpers.ts
  src/electron/future/vector-store-manager.ts
  src/shared/constants.ts
  src/shared/flags.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: renamed from assistant to vector-store
  src/electron/background.ts
Due: npx eslint --fix

refactor: renamed type to "VectorStoreDocument"
  src/electron/future/ipc/vector-store.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix

refactor: remove unused constant "ASSISTANT"
  src/shared/enums.ts
Due: npx eslint --fix

feat: added "qdrant-win.7z" to the installer
  src/client/pages/[locale]/installer/02.tsx
Due: npx eslint --fix

test: updated tests to work with "userDataDirectory"
  src/electron/future/utils/__test__/path-helpers.test.ts
Due: npx eslint --fix

chore: remove unused rule
  .eslintrc.json
Due: none

feat: added size for the downloads and sorted by size
  src/client/pages/[locale]/installer/02.tsx
Due: npx eslint --fix

feat: use default value for openAiApiKey
  src/electron/future/main.ts
Due: npx eslint --fix

refactor: use correct formatting for the example snippets
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix

refactor: removed changes to path-helpers, updated tests
  src/electron/future/services/__test__/e2e/vector-store.test.ts
  src/electron/future/utils/__test__/path-helpers.test.ts
  src/electron/future/utils/path-helpers.ts
Due: npx eslint --fix

feat: vector store (#68)
  .gitignore
  jest.config.electron.e2e.ts
  package-lock.json
  package.json
  src/client/pages/[locale]/installer/02.tsx
  src/electron/background.ts
  src/electron/future/ipc/vector-store.ts
  src/electron/future/main.ts
  src/electron/future/services/__test__/e2e/vector-store.test.ts
  src/electron/future/services/vector-store.ts
  src/electron/future/utils/__test__/path-helpers.test.ts
  src/shared/constants.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.10
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  972c88f6f8292b54b453c6ef7a6bbfc2357dfdc8
Due: none

feat: implement saving image
  package-lock.json
  package.json
  src/client/apps/live-painting/index.tsx
  src/client/pages/[locale]/apps/live-painting.tsx
  src/client/pages/[locale]/core/settings.tsx
  src/client/preload.d.ts
  src/electron/app-preload.ts
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/listeners.ts
  src/electron/handlers.ts
  src/electron/preload.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: adjust test directories
  jest.config.electron.e2e.ts
  src/client/apps/datasets/hooks/__tests__/keyboard-controlled-images-navigation.test.tsx
  src/electron/future/services/__tests__/vector-store.test.e2e.ts
  src/electron/future/utils/__tests__/create-window.test.ts
  src/electron/future/utils/__tests__/git.test.ts
  src/electron/future/utils/__tests__/load-window.test.ts
  src/electron/future/utils/__tests__/locale.test.ts
  src/electron/future/utils/__tests__/path-helpers.test.ts
  src/electron/future/utils/__tests__/string.test.ts
  src/electron/future/utils/__tests__/unpack.test.ts
  src/electron/future/utils/__tests__/window.test.ts
Due: npx eslint --fix

test: skip old tests for now
  playwright/main-window.test.ts
Due: npx eslint --fix

chore: add swc dependencies
  package.json
Due: npx sort-package-json, npx prettier --write

chore: update swc dependencies
  package-lock.json
  package.json
Due: npx sort-package-json, npx prettier --write

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
