Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

ci: use custom PAT
  .github/workflows/release-windows.yml
Due: none

feat: create story
  package-lock.json
  package.json
  src/electron/background.ts
  src/electron/future/ipc/story.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add basic live painting UI
  resources/python/live-painting/main.py
  src/client/organisms/layout/index.tsx
  src/client/organisms/sidebar-button/index.tsx
  src/client/organisms/title-bar/index.tsx
  src/client/pages/[locale]/dashboard.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/client/pages/[locale]/settings.tsx
  src/client/preload.d.ts
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
  src/electron/future/ipc/listeners.ts
Due: npx eslint --fix

fix: remove old mechanism
  src/client/ions/swr/fetcher.ts
Due: npx eslint --fix

chore: sematic-release on protected branch (#56)
  .github/workflows/release-windows.yml
Due: none

feat: only generate output image when input was changed (#55)
  resources/python/live-painting/main.py
Due: none

chore(release): 1.0.0-alpha.3
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  b1c16148531e2ee05ef85b7b389ebc94bee939e9
Due: none

feat: add basic live painting UI (#58)
  resources/python/live-painting/main.py
  src/client/ions/swr/fetcher.ts
  src/client/organisms/layout/index.tsx
  src/client/organisms/sidebar-button/index.tsx
  src/client/organisms/title-bar/index.tsx
  src/client/pages/[locale]/dashboard.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/client/pages/[locale]/settings.tsx
  src/client/preload.d.ts
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
  src/electron/future/ipc/listeners.ts
Due: npx eslint --fix

feat: use openAI api key from store
  src/electron/future/ipc/story.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.4
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  699e670ed12deba4b161a2313953edd9b6ac9975
Due: none

feat: create story from image
  package-lock.json
  resources/python/live-painting/main.py
  src/client/pages/[locale]/live-painting.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
  src/electron/future/ipc/story.ts
Due: npx eslint --fix

feat: allow setting the openAI api key
  src/client/organisms/password-field/index.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/client/pages/[locale]/settings.tsx
  src/electron/future/ipc/listeners.ts
Due: npx eslint --fix

feat: storytelling with OpenAI GPT-4-vision (#57)
  package-lock.json
  package.json
  resources/python/live-painting/main.py
  src/client/organisms/password-field/index.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/client/pages/[locale]/settings.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
  src/electron/background.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/ipc/story.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.5
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  aa0306edbc1da2d0f1e0a880e52f4e293c883868
Due: none

feat: stream the story
  src/electron/future/ipc/story.ts
Due: npx eslint --fix

feat: story streaming (#62)
  src/electron/future/ipc/story.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.6
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  d3286b0cd799c7ff0e2c95d140cdc9e320fccf08
Due: none

feat: add prompt and seed
  resources/python/live-painting/main.py
  src/client/pages/[locale]/live-painting.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
Due: npx eslint --fix

feat: add prompt and seed (#63)
  resources/python/live-painting/main.py
  src/client/pages/[locale]/live-painting.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
Due: npx eslint --fix

chore(release): 1.0.0-alpha.7
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  e7127c3d54f34f864333a4635b52b1173b99e095
Due: none

refactor: split into files
  src/client/atoms/icons/index.tsx
  src/client/ions/atoms/index.ts
  src/client/ions/atoms/live-painting.ts
  src/client/ions/development/story.ts
  src/client/ions/text-to-image/index.ts
  src/client/organisms/live-painting/drawing-area.tsx
  src/client/organisms/live-painting/index.tsx
  src/client/organisms/live-painting/rendering-area.tsx
  src/client/organisms/markdown/index.tsx
  src/client/organisms/story/index.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/shared/number.ts
Due: npx eslint --fix

chore: adjust workflow file
  .github/workflows/test-shared.yml
Due: none

refactor: adjust import path
  src/client/pages/[locale]/dashboard.tsx
Due: npx eslint --fix

refactor: move i18n value
  scripts/move-translations.mjs
  src/client/organisms/story/index.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/labels.json
  src/client/public/locales/zh/texts.json
Due: npx eslint --fix

chore(release): 1.0.0-alpha.8
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  9746067393b47b25d7b7f2382ae044cc9fcbdb50
Due: none

test: add basic ipc test
  playwright/ipc.test.ts
  src/electron/background.ts
  src/electron/future/ipc/test.ts
Due: npx eslint --fix

test: rename file to prevent test conflict
  src/electron/background.ts
  src/electron/future/ipc/testing.ts
Due: npx eslint --fix

test: add basic ipc test (#66)
  playwright/ipc.test.ts
  src/electron/background.ts
  src/electron/future/ipc/testing.ts
Due: npx eslint --fix

feat: git clone and lfs, e2e & unit tests
  jest.config.electron.ts
  package.json
  playwright/git.test.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/utils/__test__/git.test.ts
  src/electron/future/utils/git.ts
  src/electron/future/utils/path-helpers.ts
  src/shared/flags.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: use "TEST_ENV"
  package.json
  playwright/git.test.ts
  src/shared/flags.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
