Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

chore: v1.0.0-beta-8
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

feat: add translations
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
Due: none

chore: add json sorter
  package-lock.json
  package.json
  scripts/sort-json.mjs
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add live-painting demo
  main/live-painting/index.ts
  renderer/organisms/layout/index.tsx
  renderer/organisms/live-painting/drawing-canvas.tsx
  renderer/organisms/live-painting/output-canvas.tsx
  renderer/organisms/live-painting/update-properties.tsx
  renderer/pages/[locale]/home.tsx
  renderer/pages/[locale]/livepainting.tsx
  resources/python/live-painting/main.py
Due: npx eslint --fix

Update README.md
  README.md
Due: npx prettier --write, npx markdown-toc -i

feat: add context menu
  main/background.ts
  package-lock.json
  package.json
  renderer/ions/styles/index.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add context menu (#41)
  main/background.ts
  package-lock.json
  package.json
  renderer/ions/styles/index.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore: v1.0.0-beta.9
  README.md
  package-lock.json
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

docs: add changelog
  CHANGELOG.md
Due: npx prettier --write

feat: prepare nsis
  electron-builder.yml
  main/background.ts
  renderer/pages/[locale]/home.tsx
Due: npx eslint --fix

feat: add basic llava mechanism
  README.md
  main/captions/ipc.ts
  main/captions/misc.ts
  main/helpers/constants.ts
  main/preload.ts
  renderer/organisms/modals/caption/index.tsx
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
  resources/python/caption/llava/main.py
Due: npx eslint --fix, npx prettier --write, npx markdown-toc -i

ci: added "semantic-release" to create automated "alpha" releases
  .github/workflows/release-windows.yml
  .releaserc
  README.md
  electron-builder.yml
  package-lock.json
  package.json
  scripts/update-readme.mjs
Due: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

chore(release): 1.0.0-alpha.1
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  ce6c891c8e003d8f7a84040f461f375af689d7a5
Due: none

feat: add git clone capability
  .gitignore
  main/background.ts
  main/captions/ipc.ts
  main/captions/misc.ts
  main/git/index.ts
  main/git/ipc.ts
  main/helpers/constants.ts
  main/helpers/events.ts
  main/helpers/python.ts
  main/preload.ts
  renderer/ions/theme/index.ts
  renderer/organisms/list/simple-item-list.tsx
  renderer/organisms/modals/caption/index.tsx
  renderer/organisms/model-card/index.tsx
  renderer/pages/[locale]/dataset.tsx
  renderer/pages/[locale]/marketplace.tsx
  resources/python/caption/llava/main.py
Due: npx eslint --fix

feat: handle download state
  main/git/index.ts
  main/git/ipc.ts
  main/helpers/events.ts
  main/preload.ts
  renderer/organisms/modals/caption/index.tsx
  renderer/organisms/model-card/index.tsx
  renderer/pages/[locale]/marketplace.tsx
Due: npx eslint --fix

feat: disable live-painting
  renderer/organisms/layout/index.tsx
Due: npx eslint --fix

feat: add missing translations
  renderer/organisms/modals/caption/index.tsx
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
Due: npx eslint --fix

fix: adjust various glitches
  .gitignore
  electron-builder.yml
  jest.config.ts
  main/captions/__tests__/resize.test.ts
  main/captions/misc.ts
  main/captions/resize.ts
  main/helpers/events.ts
  main/preload.ts
  package.json
  renderer/ions/atoms/index.ts
  renderer/organisms/list/simple-item-list.tsx
  renderer/organisms/modals/caption/index.tsx
  renderer/pages/[locale]/dataset.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: adjust ps1 script
  resources/powershell/embed-my-python-win.ps1
Due: none

chore: adjust gitignore
  .gitignore
Due: none

feat: improve install screen
  src/client/organisms/illustration-box/index.tsx
  src/client/organisms/illustration/index.tsx
  src/client/organisms/language-select/index.tsx
  src/client/organisms/lottie/index.tsx
  src/client/pages/[locale]/installer.tsx
  src/client/pages/_app.tsx
  src/client/pages/_document.tsx
  src/client/public/illustrations/minimalistic/meditation.svg
  src/client/public/illustrations/minimalistic/public-speaker.svg
  src/client/public/illustrations/minimalistic/settings.svg
  src/client/public/illustrations/minimalistic/success.svg
  src/client/public/illustrations/minimalistic/website-design.svg
  src/electron/future/main.ts
  src/electron/future/utils.ts
Due: npx eslint --fix

feat: add dashboard and settings
  src/client/organisms/layout/index.tsx
  src/client/pages/[locale]/dashboard.tsx
  src/client/pages/[locale]/settings.tsx
Due: npx eslint --fix

feat: added unpack with 7z
  electron-builder.yml
  jest.config.unit.mjs
  package-lock.json
  package.json
  resources/7zip/win/7za.exe
  src/electron/future/ipc/listeners.ts
  src/electron/future/old-utils.ts
  src/electron/future/utils/unpack.ts
  tests/unit/electron.utils.unpack.test.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add more translations
  package-lock.json
  package.json
  scripts/sort-json.mjs
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: break installer into pages
  src/client/atoms/i18n-link/index.tsx
  src/client/organisms/layout/simple.tsx
  src/client/pages/[locale]/installer/00.tsx
  src/client/pages/[locale]/installer/01.tsx
  src/client/pages/[locale]/installer/02.tsx
  src/client/pages/_app.tsx
  src/electron/future/main.ts
Due: npx eslint --fix

feat: install process journey
  package-lock.json
  package.json
  src/client/organisms/layout/index.tsx
  src/client/organisms/quote-loop/index.tsx
  src/client/pages/[locale]/dashboard.tsx
  src/client/pages/[locale]/installer/02.tsx
  src/client/pages/[locale]/settings.tsx
  src/client/public/illustrations/minimalistic/cloud-computing.svg
  src/client/public/illustrations/minimalistic/discovery.svg
  src/client/public/illustrations/minimalistic/unpack.svg
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/labels.json
  src/client/public/locales/zh/texts.json
  src/electron/future/ipc/listeners.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: add missing translations in UI
  scripts/move-translations.mjs
  src/client/organisms/title-bar/index.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
Due: npx eslint --fix

feat: improve install screen
  src/client/organisms/quote-loop/index.tsx
  src/client/pages/[locale]/installer/02.tsx
Due: npx eslint --fix

feat: better language illustration
  src/client/pages/[locale]/installer/00.tsx
  src/client/public/illustrations/minimalistic/international.svg
Due: npx eslint --fix

refactor: move members from old utils
  src/electron/background.ts
  src/electron/future/core-setup.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/main.ts
  src/electron/future/old-utils.ts
  src/electron/future/stores/index.ts
  src/electron/future/utils/create-window.ts
  src/electron/future/utils/github.ts
  src/electron/future/utils/load-window.ts
  src/electron/future/utils/locale.ts
  src/electron/future/utils/path-helpers.ts
  src/electron/future/utils/string.ts
  src/electron/future/utils/window.ts
  src/shared/flags.ts
Due: npx eslint --fix

test: add tests
  jest.config.ts
  src/electron/future/utils/__test__/locale.test.ts
Due: npx eslint --fix

test: add tests
  src/electron/future/utils/__test__/load-window.test.ts
  src/electron/future/utils/load-window.ts
Due: npx eslint --fix

test: add tests
  src/electron/future/utils/__test__/load-window.test.ts
  src/electron/future/utils/__test__/path-helpers.test.ts
Due: npx eslint --fix

test: add tests
  src/electron/future/utils/__test__/string.test.ts
  src/electron/future/utils/string.ts
Due: npx eslint --fix

test: add tests
  src/electron/future/utils/__test__/window.test.ts
Due: npx eslint --fix

test: adjust tests
  src/electron/future/utils/__test__/string.test.ts
  src/electron/future/utils/__test__/window.test.ts
Due: npx eslint --fix

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
