Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

chore: remove invalid releases from changelog (#94)
  CHANGELOG.md
Due: npx prettier --write

docs: cleanup comments
  src/electron/future/services/__tests__/download-manager.test.ts
Due: npx eslint --fix

feat: download manager (#91)
  package-lock.json
  package.json
  src/client/pages/[locale]/installer/02.tsx
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/install.ts
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/enums.ts
  src/electron/future/services/download-manager/index.ts
  src/electron/future/services/download-manager/types.ts
  src/shared/enums.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.27
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  b48bc66f22b87b44914862a184c318a380ef1e0d
Due: none

docs: typo in readme
  README.md
Due: npx prettier --write, npx markdown-toc -i

style: cleanup comments
  electron-builder.yml
  jest.config.client.ts
  jest.config.shared.ts
  package-lock.json
  src/client/apps/datasets/hooks/__tests__/keyboard-controlled-images-navigation.test.tsx
  src/client/ions/hooks/__tests__/columns.test.tsx
  src/client/ions/hooks/__tests__/resettable-state.test.ts
  src/client/ions/hooks/__tests__/scroll-position.test.tsx
  src/client/ions/hooks/__tests__/vector-store.test.ts
  src/client/ions/hooks/resettable-state.ts
  src/client/ions/hooks/resize-observer.ts
  src/client/ions/hooks/scroll-position.ts
  src/client/ions/hooks/vector-store.ts
  src/client/ions/utils/__tests__/string.test.ts
  src/client/ions/utils/get-random-name.ts
  src/client/organisms/auto-grid/index.tsx
  src/client/organisms/language-select/index.tsx
  src/electron/future/ipc/install.ts
  src/electron/future/utils/__tests__/locale.test.ts
  src/electron/future/utils/__tests__/string.test.ts
  src/shared/string.ts
Due: npx eslint --fix

style: cleanup comments (#96)
  electron-builder.yml
  jest.config.client.ts
  jest.config.shared.ts
  package-lock.json
  src/client/apps/datasets/hooks/__tests__/keyboard-controlled-images-navigation.test.tsx
  src/client/ions/hooks/__tests__/columns.test.tsx
  src/client/ions/hooks/__tests__/resettable-state.test.ts
  src/client/ions/hooks/__tests__/scroll-position.test.tsx
  src/client/ions/hooks/__tests__/vector-store.test.ts
  src/client/ions/hooks/resettable-state.ts
  src/client/ions/hooks/resize-observer.ts
  src/client/ions/hooks/scroll-position.ts
  src/client/ions/hooks/vector-store.ts
  src/client/ions/utils/__tests__/string.test.ts
  src/client/ions/utils/get-random-name.ts
  src/client/organisms/auto-grid/index.tsx
  src/client/organisms/language-select/index.tsx
  src/electron/future/ipc/install.ts
  src/electron/future/utils/__tests__/locale.test.ts
  src/electron/future/utils/__tests__/string.test.ts
  src/shared/string.ts
Due: npx eslint --fix

chore: update dependencies
  .ncurc.json
  package-lock.json
  package.json
Due: npx sort-package-json, npx prettier --write

chore: update dependencies (#97)
  .ncurc.json
  package-lock.json
  package.json
Due: npx sort-package-json, npx prettier --write

fix: label on installation success is wrong
  src/client/pages/[locale]/installer/02.tsx
Due: npx eslint --fix

fix: label on installation success is wrong (#98)
  src/client/pages/[locale]/installer/02.tsx
Due: npx eslint --fix

chore(release): 1.0.0-alpha.28
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  6d0084453352a9d0b1c13c51226e8af9f056241f
Due: none

fix: app should only have one instance
  src/electron/background.ts
  src/electron/future/main.ts
Due: npx eslint --fix

refactor: remove useless flag
  src/electron/background.ts
Due: npx eslint --fix

refactor: better test environment flag
  src/electron/background.ts
  src/electron/future/utils/path-helpers.ts
  src/shared/flags.ts
Due: npx eslint --fix

refactor: better test environment flag
  src/electron/future/utils/path-helpers.ts
Due: npx eslint --fix

refactor: better test environment flag
  src/electron/future/utils/__tests__/path-helpers.test.ts
Due: npx eslint --fix

fix: handle installer window instance
  src/electron/future/main.ts
Due: npx eslint --fix

style: remove useless comments
  src/electron/background.ts
  src/electron/future/main.ts
Due: npx eslint --fix

fix: app should only have one instance (#99)
  src/electron/background.ts
  src/electron/future/main.ts
  src/electron/future/utils/__tests__/path-helpers.test.ts
  src/electron/future/utils/path-helpers.ts
  src/shared/flags.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.29
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  355279b122434a2e103e7a8ef6e40a372b5fbe11
Due: none

feat: add basic UI for downloads
  src/client/organisms/layout/core.tsx
  src/client/pages/[locale]/core/downloads.tsx
Due: npx eslint --fix

style: adjust import path
  src/client/pages/[locale]/core/downloads.tsx
Due: npx eslint --fix

feat: add download integration
  package-lock.json
  src/client/pages/[locale]/core/downloads.tsx
  src/electron/background.ts
  src/electron/future/ipc/downloads.ts
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/enums.ts
  src/electron/future/services/download-manager/index.ts
  src/shared/types/download-manager.ts
Due: npx eslint --fix

test: adjust tests
  src/electron/future/services/__tests__/download-manager.test.ts
Due: npx eslint --fix

fix: fix item data
  src/electron/future/services/download-manager/index.ts
Due: npx eslint --fix

feat: retrieve running downloads
  src/client/pages/[locale]/core/downloads.tsx
  src/electron/future/ipc/downloads.ts
  src/electron/future/services/download-manager/index.ts
Due: npx eslint --fix

feat: add translations
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
Due: none

chore: update captn dependencies
  package-lock.json
  package.json
  src/client/pages/[locale]/core/downloads.tsx
  src/client/pages/[locale]/installer/02.tsx
  src/electron/future/ipc/downloads.ts
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/install.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/index.ts
  src/electron/future/types.ts
  src/shared/types/download-manager.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: integrate with sdk
  package-lock.json
  package.json
  src/client/apps/live-painting/components/index.tsx
  src/client/apps/live-painting/constants.ts
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/required-models-alert/index.tsx
  src/client/organisms/layout/core.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/core/downloads.tsx
  src/electron/future/ipc/downloads.ts
  src/electron/future/services/download-manager/index.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test(download-manager): adjust tests
  src/electron/future/services/__tests__/download-manager.test.ts
Due: npx eslint --fix

Feat/download UI (#178)
  package-lock.json
  package.json
  src/client/apps/live-painting/components/index.tsx
  src/client/apps/live-painting/constants.ts
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/required-models-alert/index.tsx
  src/client/organisms/layout/core.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/client/pages/[locale]/core/downloads.tsx
  src/client/pages/[locale]/installer/02.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
  src/electron/background.ts
  src/electron/future/ipc/downloads.ts
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/install.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
  src/electron/future/services/__tests__/download-manager.test.ts
  src/electron/future/services/download-manager/enums.ts
  src/electron/future/services/download-manager/index.ts
  src/electron/future/services/download-manager/types.ts
  src/electron/future/types.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
