Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

.lintstagedrc.json:

{
  "*.ts": [
    "npx eslint --fix"
  ],
  "*.tsx": [
    "npx eslint --fix"
  ],
  "*.js": [
    "npx eslint --fix"
  ],
  "*.cjs": [
    "npx eslint --fix"
  ],
  "*.mjs": [
    "npx eslint --fix"
  ],
  "package.json": [
    "npx sort-package-json",
    "npx prettier --write"
  ],
  "*.md": [
    "npx prettier --write"
  ],
  "README.md": [
    "npx markdown-toc -i",
    "npx prettier --write"
  ]
}

feat: use transformer.js for embeddings
  jest.config.electron.e2e.ts
  package-lock.json
  package.json
  src/electron/future/langchain/__tests__/custom-hugging-face-transformers-embeddings.test.e2e.ts
  src/electron/future/langchain/custom-hugging-face-transformers-embeddings.ts
  src/electron/future/main.ts
  src/electron/future/services/__tests__/vector-store.test.e2e.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore: remove unused console.log
  src/electron/future/langchain/__tests__/custom-hugging-face-transformers-embeddings.test.e2e.ts
Due: npx eslint --fix

docs: describe how it works
  src/electron/future/langchain/custom-hugging-face-transformers-embeddings.ts
Due: npx eslint --fix

ci: run e2e on windows
  .github/workflows/test-e2e.yml
Due: none

ci: eslint
  .github/workflows/test-e2e.yml
Due: none

ci: don't use xvfb-run as this only works on Ubuntu
  package.json
Due: npx sort-package-json, npx prettier --write

feat: use transformer.js for embeddings (#74)
  .github/workflows/test-e2e.yml
  jest.config.electron.e2e.ts
  package-lock.json
  package.json
  src/electron/future/langchain/__tests__/custom-hugging-face-transformers-embeddings.test.e2e.ts
  src/electron/future/langchain/custom-hugging-face-transformers-embeddings.ts
  src/electron/future/main.ts
  src/electron/future/services/__tests__/vector-store.test.e2e.ts
  src/electron/future/services/vector-store.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.15
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  783839a58b3c33e88171e3e674cd96a20a99b59b
Due: none

feat: add story app
  package-lock.json
  package.json
  resources/actions/story/readme.md
  src/client/apps/live-painting/index.tsx
  src/client/apps/story/atoms.ts
  src/client/apps/story/components.tsx
  src/client/apps/story/constants.ts
  src/client/apps/story/index.tsx
  src/client/apps/story/markdown/index.tsx
  src/client/apps/story/story-form.tsx
  src/client/captn.d.ts
  src/client/ions/handlers/__tests__/action.test.ts
  src/client/ions/handlers/action.ts
  src/client/ions/hook-containers/actions.ts
  src/client/ions/hooks/__tests__/resettable-state.test.ts
  src/client/ions/hooks/__tests__/vector-actions.test.ts
  src/client/ions/hooks/resettable-state.ts
  src/client/ions/hooks/vector-actions.ts
  src/client/ions/hooks/vector-store.ts
  src/client/organisms/auto-grid/index.tsx
  src/client/pages/[locale]/apps/story.tsx
  src/client/pages/[locale]/core/settings.tsx
  src/client/pages/[locale]/installer/00.tsx
  src/client/pages/[locale]/prompt.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/labels.json
  src/electron/background.ts
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/ipc/story.ts
  src/electron/future/main.ts
  src/electron/future/stores/index.ts
  src/electron/future/stores/watchers.ts
  src/electron/future/types.ts
  src/electron/handlers.ts
  src/shared/__tests__/string.test.ts
  src/shared/constants.ts
  src/shared/string.ts
  src/shared/types/story.ts
  tsconfig.json
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: adjust test import path
  src/electron/future/main.ts
  src/shared/__tests__/string.test.ts
Due: npx eslint --fix

chore: update package lock
  package-lock.json
Due: none

feat: improve image analysis screen
  src/client/apps/story/index.tsx
  src/client/apps/story/story-form.tsx
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
  src/client/public/locales/zh/texts.json
  src/client/public/lottie/minimalistic/team-meeting.json
Due: npx eslint --fix

feat: save story after creation
  package-lock.json
  package.json
  src/client/apps/story/components.tsx
  src/client/apps/story/index.tsx
  src/client/ions/utils/__tests__/string.test.ts
  src/client/ions/utils/string.ts
  src/client/tsconfig.json
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/listeners.ts
  src/electron/future/langchain/custom-hugging-face-transformers-embeddings.ts
  src/electron/future/main.ts
  src/electron/future/utils/read-files-recursively.ts
  src/electron/handlers.ts
  tsconfig.json
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: uuid for each saved file
  src/electron/future/ipc/global.ts
Due: npx eslint --fix

style: adjust for review
  src/electron/future/ipc/sdk.ts
  src/electron/future/ipc/story.ts
  src/electron/future/langchain/custom-hugging-face-transformers-embeddings.ts
  src/electron/future/main.ts
Due: npx eslint --fix

feat: action closes prompt
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

feat: installer populates vector store
  package-lock.json
  src/client/pages/[locale]/installer/02.tsx
  src/client/pages/[locale]/installer/03.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/electron/future/ipc/install.ts
  src/electron/future/main.ts
  src/electron/future/utils/__tests__/unpack.test.ts
  src/electron/future/utils/unpack.ts
  src/electron/future/utils/vector-store.ts
Due: npx eslint --fix

chore: remove unused console.log
  src/electron/future/ipc/story.ts
Due: npx eslint --fix

refactor: remove unused console.log
  src/client/pages/[locale]/installer/03.tsx
Due: npx eslint --fix

chore(release): 1.0.0-alpha.16
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  79ba43ed6af41b95cedeaa2bd967beffea77696f
Due: none

feat: "labels" translations
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/labels.json
Due: none

feat: "texts" translations
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/texts.json
Due: none

refactor: translation sorting
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/labels.json
  src/client/public/locales/zh/texts.json
Due: none

refactor: remove unused code
  src/client/pages/[locale]/installer/02.tsx
Due: npx eslint --fix

docs: added comment on why "xenova/transformers" has no types right now
  src/electron/future/utils/vector-store.ts
Due: npx eslint --fix

refactor: cleaned up after merge from alpha
  src/electron/future/main.ts
Due: npx eslint --fix

chore: merge with alpha
  package-lock.json
Due: none

feat: use "let", handle error
  src/client/pages/[locale]/installer/03.tsx
Due: npx eslint --fix

feat: installer populates vector store (#76)
  package-lock.json
  src/client/pages/[locale]/installer/02.tsx
  src/client/pages/[locale]/installer/03.tsx
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/labels.json
  src/client/public/locales/zh/texts.json
  src/electron/future/ipc/install.ts
  src/electron/future/main.ts
  src/electron/future/utils/__tests__/unpack.test.ts
  src/electron/future/utils/unpack.ts
  src/electron/future/utils/vector-store.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.17
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  8c608a6bb22599c0906f691c32aaf9c5690953d9
Due: none

fix: prompt broken after action
  src/electron/future/apps.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
Due: npx eslint --fix

fix:prompt broken after action (#78)
  src/electron/future/apps.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/main.ts
Due: npx eslint --fix

feat: download checkpoint & vae
  package-lock.json
  package.json
  src/client/apps/live-painting/index.tsx
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/stores/index.ts
  src/electron/future/stores/utils.ts
  src/electron/future/stores/watchers.ts
  src/electron/handlers.ts
  src/shared/types/index.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: use 1 instead of 100
  src/electron/future/utils/git.ts
Due: npx eslint --fix

fix: use "onError" callback
  src/electron/future/ipc/story.ts
Due: npx eslint --fix
