Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

fix: "move" actually works now
  scripts/move-translations.mjs
Due: npx eslint --fix

chore: use "sd-turbto-fp16" instead of the test model
  src/client/apps/live-painting/index.tsx
Due: npx eslint --fix

test: use 1 instead of 100
  src/electron/future/utils/__tests__/git.test.ts
Due: npx eslint --fix

feat: download model (#79)
  package-lock.json
  package.json
  scripts/move-translations.mjs
  src/client/apps/live-painting/index.tsx
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
  src/electron/future/ipc/global.ts
  src/electron/future/ipc/sdk.ts
  src/electron/future/ipc/story.ts
  src/electron/future/stores/index.ts
  src/electron/future/stores/utils.ts
  src/electron/future/stores/watchers.ts
  src/electron/future/utils/__tests__/git.test.ts
  src/electron/future/utils/git.ts
  src/electron/handlers.ts
  src/shared/types/index.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.18
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  c1a82a923c809366ec9bd43f102888c7321de466
Due: none

chore: cancel previous workflows
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
  .github/workflows/test-shared.yml
Due: none

chore: cancel previous workflows (#80)
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
  .github/workflows/test-shared.yml
Due: none

chore: update to node 20
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
  .github/workflows/test-shared.yml
  .nvmrc
Due: none

chore: node 20 (#81)
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
  .github/workflows/test-shared.yml
  .nvmrc
Due: none

feat: add sdxl-turbo
  resources/python/live-painting/main.py
  src/client/apps/live-painting/index.tsx
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

refactor(live-painting): split live painting file
  src/client/apps/live-painting/components/index.tsx
  src/client/apps/live-painting/hooks.ts
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/styled.ts
Due: npx eslint --fix

refactor(live-painting): keep imports relative on same level
  src/client/apps/live-painting/components/index.tsx
Due: npx eslint --fix

refactor(live-painting): split live painting file (#83)
  src/client/apps/live-painting/components/index.tsx
  src/client/apps/live-painting/hooks.ts
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/styled.ts
Due: npx eslint --fix

feat: add download notice for essential models
  package-lock.json
  package.json
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/required-models-alert/index.tsx
  src/client/pages/[locale]/core/dashboard.tsx
  src/electron/future/ipc/global.ts
  src/electron/future/types.ts
  src/electron/handlers.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: added winston for logging
  package-lock.json
  package.json
  src/client/pages/[locale]/prompt.tsx
  src/electron/background.ts
  src/electron/future/main.ts
  src/electron/future/services/logger.ts
  src/electron/future/services/vector-store.ts
  src/electron/future/utils/load-window.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: mock logger
  src/electron/future/utils/__tests__/load-window.test.ts
Due: npx eslint --fix

refactor: move helper into fs
  src/electron/future/services/logger.ts
  src/electron/future/utils/__tests__/load-window.test.ts
  src/electron/future/utils/fs.ts
Due: npx eslint --fix

chore: changed error text
  src/electron/future/utils/fs.ts
Due: npx eslint --fix

fix: import of useTranslation is wrong
  src/client/pages/[locale]/prompt.tsx
Due: npx eslint --fix

feat: add system tray
  resources/icon.png
  src/electron/future/main.ts
Due: npx eslint --fix

feat: Prompt is EN only
  src/client/pages/[locale]/prompt.tsx
Due: npx eslint --fix

feat: required models for live painting
  src/client/apps/live-painting/components/index.tsx
  src/client/apps/live-painting/index.tsx
  src/client/apps/live-painting/required-models-alert/index.tsx
  src/electron/future/stores/watchers.ts
Due: npx eslint --fix

fix: use correct model for live-paint
  src/electron/future/ipc/sdk.ts
Due: npx eslint --fix

chore: remove unused console.log
  src/client/pages/[locale]/prompt.tsx
Due: npx eslint --fix

fix: only write to log files in PRODUCTION
  src/electron/future/services/logger.ts
Due: npx eslint --fix

fix: include the icon.png for the system tray
  electron-builder.yml
Due: none

feat: added winston for logging (#85)
  electron-builder.yml
  package-lock.json
  package.json
  resources/icon.png
  src/client/pages/[locale]/prompt.tsx
  src/electron/background.ts
  src/electron/future/main.ts
  src/electron/future/services/logger.ts
  src/electron/future/services/vector-store.ts
  src/electron/future/utils/__tests__/load-window.test.ts
  src/electron/future/utils/fs.ts
  src/electron/future/utils/load-window.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore(release): 1.0.0-alpha.19
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  e6421ea5414861b5df1e96247ef06a37275d766e
Due: none

feat: add translations
  src/client/apps/live-painting/required-models-alert/index.tsx
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/de/texts.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/en/texts.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/es/texts.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/fr/texts.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/he/texts.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/it/texts.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/ja/texts.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/nl/texts.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pl/texts.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/pt/texts.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/ru/texts.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
  src/client/public/locales/zh/texts.json
Due: npx eslint --fix

chore: update package lock
  package-lock.json
Due: none

feat: check for openAI API key
  src/client/apps/story/index.tsx
  src/client/apps/story/story-form.tsx
  src/electron/background.ts
  src/electron/future/ipc/keys.ts
Due: npx eslint --fix

docs: streamlined to focus on setup
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: added preview picture
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: updated badge style
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: added more detailed steps
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: updated promo video image
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: added discord to the top
  README.md
Due: npx prettier --write, npx markdown-toc -i

docs: changed badge color for linux
  README.md
Due: npx prettier --write, npx markdown-toc -i

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
