Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

docs: update readme
  README.md
  docs/marketplace.png
Due: npx prettier --write, npx markdown-toc -i

docs: update readme
  README.md
Due: npx prettier --write, npx markdown-toc -i

chore: add changelog
  CHANGELOG.md
  package.json
Due: npx sort-package-json, npx prettier --write

docs: add discord badge/link
  README.md
Due: npx prettier --write, npx markdown-toc -i

Update BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Due: npx prettier --write

fix: progress count on gpt is wrong
  main/helpers/caption.ts
Due: npx eslint --fix

fix: image data is undefined
  renderer/pages/[locale]/dataset.tsx
Due: npx eslint --fix

fix: progress count on gpt is wrong (#27)
  main/helpers/caption.ts
Due: npx eslint --fix

fix: image data is undefined (#28)
  renderer/pages/[locale]/dataset.tsx
Due: npx eslint --fix

fix: gpt progress logic is broken
  main/helpers/caption.ts
Due: npx eslint --fix

fix: gpt progress logic is broken (#29)
  main/helpers/caption.ts
Due: npx eslint --fix

chore: v1.0.0-beta.6
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

feat: improved stuff
  main/live-painting/index.ts
  renderer/organisms/live-painting/output-canvas.tsx
  resources/python/live-painting/main.py
Due: npx eslint --fix

feat: exact requirements, how to setup the local env for development
  .github/CONTRIBUTING.md
  requirements.txt
Due: npx prettier --write

docs: use version 3.10.11 instead of 3.10.9
  .github/CONTRIBUTING.md
Due: npx prettier --write

fix: performance leaks
  .gitignore
  main/helpers/python.ts
  main/live-painting/index.ts
  main/preload.ts
  renderer/organisms/live-painting/drawing-canvas.tsx
  renderer/organisms/live-painting/output-canvas.tsx
  renderer/organisms/live-painting/update-properties.tsx
  resources/python/live-painting/main.py
Due: npx eslint --fix

feat: sending properties to python, cleaned up code
  main/live-painting/index.ts
  renderer/organisms/live-painting/drawing-canvas.tsx
  renderer/organisms/live-painting/update-properties.tsx
  renderer/pages/[locale]/livepainting.tsx
  resources/python/live-painting/main.py
Due: npx eslint --fix

chore: added "live-canvas-generate-image-output.png.tmp.png"
  .gitignore
Due: none

feat: added wd14, removed everything else, added unit test with jest, updated CONTRIBUTION
  .github/CONTRIBUTING.md
  .gitignore
  jest.config.unit.mjs
  main/helpers/caption.ts
  main/helpers/utils.ts
  package.json
  resources/python/README.md
  resources/python/__init__.py
  resources/python/blip/blip.py
  resources/python/blip/med.py
  resources/python/blip/med_config.json
  resources/python/blip/vit.py
  resources/python/caption/__init__.py
  resources/python/caption/utils/__init__.py
  resources/python/caption/utils/image.py
  resources/python/caption/wd14/__init__.py
  resources/python/caption/wd14/main.py
  resources/python/caption/wd14/tests/__init__.py
  resources/python/caption/wd14/tests/selected_tags.csv
  resources/python/caption/wd14/tests/test_image1.jpg
  resources/python/caption/wd14/tests/test_image2.png
  resources/python/caption/wd14/tests/test_main.py
  resources/python/caption_blip.py
  resources/python/caption_wd14.py
  resources/python/live-painting/__init__.py
  resources/python/requirements.txt
  resources/python/utils.py
  tests/jest.setup.js
  tests/unit/main.helpers.caption.test.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

feat: rewrite how datasets are handled
  main/background.ts
  main/captions/index.ts
  main/datasets/index.ts
  main/datasets/ipc.ts
  main/helpers/constants.ts
  main/helpers/events.ts
  main/helpers/read-index.ts
  main/helpers/types.ts
  main/helpers/utils.ts
  main/preload.ts
  package.json
  renderer/ions/atoms/index.ts
  renderer/organisms/delete-confirm/index.tsx
  renderer/organisms/folder-drop/index.tsx
  renderer/organisms/modals/add-dataset.tsx
  renderer/organisms/modals/caption/index.tsx
  renderer/pages/[locale]/dataset.tsx
  renderer/pages/[locale]/home.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: improve captioning mechanism
  .gitignore
  main/captions/index.ts
  main/captions/ipc.ts
  main/captions/misc.ts
  main/datasets/ipc.ts
  main/helpers/caption.ts
  main/helpers/constants.ts
  main/helpers/events.ts
  main/helpers/types.ts
  main/preload.ts
  package.json
  renderer/ions/atoms/index.ts
  renderer/organisms/layout/index.tsx
  renderer/organisms/modals/caption/batch-edit.tsx
  renderer/organisms/modals/caption/index.tsx
  renderer/organisms/model-card/index.tsx
  renderer/pages/[locale]/dataset.tsx
  renderer/pages/[locale]/marketplace.tsx
  renderer/pages/_app.tsx
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add selected images editing
  renderer/ions/atoms/index.ts
  renderer/organisms/modals/caption/batch-edit.tsx
  renderer/organisms/modals/caption/index.tsx
  renderer/pages/[locale]/dataset.tsx
  renderer/pages/[locale]/marketplace.tsx
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
Due: npx eslint --fix

feat: add gpt vision
  main/captions/ipc.ts
  main/captions/misc.ts
  main/helpers/caption.ts
  main/helpers/events.ts
  main/preload.ts
  renderer/ions/atoms/index.ts
  renderer/organisms/modals/caption/batch-edit.tsx
  renderer/organisms/modals/caption/index.tsx
  renderer/organisms/model-card/index.tsx
  renderer/pages/[locale]/dataset.tsx
Due: npx eslint --fix

fix: missing cleanups of ipc listeners
  renderer/pages/[locale]/dataset.tsx
  renderer/pages/[locale]/marketplace.tsx
Due: npx eslint --fix

style: format
  renderer/pages/[locale]/livepainting.tsx
Due: npx eslint --fix

refactor: remove unused
  main/helpers/utils.ts
Due: npx eslint --fix

fix: python not packed
  electron-builder.yml
Due: none

feat: install python on first app launch
  electron-builder.yml
  main/background.ts
  main/captions/ipc.ts
  main/helpers/constants.ts
  main/init/index.ts
  main/utils/first-launch.ts
  package-lock.json
  package.json
  renderer/pages/[locale]/home.tsx
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
  resources/powershell/embed-my-python-win.ps1
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: removed output extractors for tags, just provide the output. Renamed "model_id" to "model_path"
  resources/python/caption/llava/main.py
Due: none

docs: adjust for next release
  README.md
Due: npx prettier --write, npx markdown-toc -i

feat: better check for python install by version
  main/background.ts
  main/init/index.ts
  main/utils/first-launch.ts
  renderer/pages/[locale]/home.tsx
  resources/powershell/embed-my-python-win.ps1
Due: npx eslint --fix

feat: add de/select all
  main/background.ts
  renderer/pages/[locale]/dataset.tsx
  renderer/public/locales/de/common.json
  renderer/public/locales/en/common.json
  renderer/public/locales/es/common.json
  renderer/public/locales/fr/common.json
  renderer/public/locales/he/common.json
  renderer/public/locales/it/common.json
  renderer/public/locales/ja/common.json
  renderer/public/locales/nl/common.json
  renderer/public/locales/pl/common.json
  renderer/public/locales/pt/common.json
  renderer/public/locales/ru/common.json
  renderer/public/locales/zh/common.json
Due: npx eslint --fix

chore: v1.0.0-beta.7
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Update README.md
  README.md
Due: npx prettier --write, npx markdown-toc -i

Update README.md (#36)
  README.md
Due: npx prettier --write, npx markdown-toc -i

fix: downloads not possible
  main/helpers/events.ts
Due: npx eslint --fix

fix: downloads not possible (#38)
  main/helpers/events.ts
Due: npx eslint --fix

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
