Repository blib-la/captain: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

test: setup playwright
  package-lock.json
  package.json
  playwright-report/index.html
  playwright.config.ts
  playwright/index.test.ts
  src/client/organisms/delete-confirm/index.tsx
  src/client/organisms/folder-drop/index.tsx
  src/client/organisms/folder-field/index.tsx
  src/client/organisms/live-painting/drawing-canvas.tsx
  src/client/organisms/live-painting/output-canvas.tsx
  src/client/organisms/live-painting/update-properties.tsx
  src/client/organisms/modals/add-dataset.tsx
  src/client/organisms/modals/caption/batch-edit.tsx
  src/client/organisms/modals/caption/index.tsx
  src/client/organisms/model-card/index.tsx
  src/client/organisms/password-field/index.tsx
  src/client/organisms/text-field/index.tsx
  src/client/organisms/zoomable-image-stage/index.tsx
  src/client/pages/[locale]/dataset.tsx
  src/client/pages/[locale]/feedback.tsx
  src/client/pages/[locale]/home.tsx
  src/client/pages/[locale]/inventory.tsx
  src/client/pages/[locale]/livepainting.tsx
  src/client/pages/[locale]/marketplace.tsx
  src/client/pages/[locale]/settings.tsx
  src/client/pages/[locale]/training.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: setup playwright (#48)
  package-lock.json
  package.json
  playwright-report/index.html
  playwright.config.ts
  playwright/index.test.ts
  src/client/organisms/delete-confirm/index.tsx
  src/client/organisms/folder-drop/index.tsx
  src/client/organisms/folder-field/index.tsx
  src/client/organisms/live-painting/drawing-canvas.tsx
  src/client/organisms/live-painting/output-canvas.tsx
  src/client/organisms/live-painting/update-properties.tsx
  src/client/organisms/modals/add-dataset.tsx
  src/client/organisms/modals/caption/batch-edit.tsx
  src/client/organisms/modals/caption/index.tsx
  src/client/organisms/model-card/index.tsx
  src/client/organisms/password-field/index.tsx
  src/client/organisms/text-field/index.tsx
  src/client/organisms/zoomable-image-stage/index.tsx
  src/client/pages/[locale]/dataset.tsx
  src/client/pages/[locale]/feedback.tsx
  src/client/pages/[locale]/home.tsx
  src/client/pages/[locale]/inventory.tsx
  src/client/pages/[locale]/livepainting.tsx
  src/client/pages/[locale]/marketplace.tsx
  src/client/pages/[locale]/settings.tsx
  src/client/pages/[locale]/training.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: add basic painting area.
  src/client/organisms/layout/index.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
Due: npx eslint --fix

feat: add basic ipc for live-painting
  src/client/pages/[locale]/live-painting.tsx
  src/electron/future/ipc/listeners.ts
  src/shared/enums.ts
Due: npx eslint --fix

chore: set pr title
  .github/workflows/set-pr-title.yml
Due: none

chore: add workflow logic
  .github/workflows/set-pr-title.yml
Due: none

chore: adjust workflow
  .github/workflows/set-pr-title.yml
Due: none

chore: set pr title (#50)
  .github/workflows/set-pr-title.yml
Due: none

feat: added tests for createWindow and unpack, moved jest.setup.ts to the root, installed jest-mock-extended
  jest.config.ts
  jest.config.unit.mjs
  jest.setup.ts
  package-lock.json
  package.json
  src/electron/future/utils/__test__/create-window.test.ts
  src/electron/future/utils/__test__/unpack.test.ts
  tests/unit/main.helpers.caption.test.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

feat: integrated archive to create an archive needed during build
  scripts/archive.mjs
Due: npx eslint --fix

feat: added tests for createWindow and unpack, moved jest.setup.ts to the root, installed jest-mock-extended (#51)
  jest.config.ts
  jest.config.unit.mjs
  jest.setup.ts
  package-lock.json
  package.json
  scripts/archive.mjs
  src/electron/future/utils/__test__/create-window.test.ts
  src/electron/future/utils/__test__/unpack.test.ts
  tests/unit/main.helpers.caption.test.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore: update Jest configuration
  jest.config.ts
Due: npx eslint --fix

refactor: refactor keyboard navigation hook
  src/client/ions/hooks/keyboard-controlled-images-navigation.ts
Due: npx eslint --fix

test: add test files for various hooks
  src/client/ions/hooks/__test__/color-scheme.test.tsx
  src/client/ions/hooks/__test__/columns.test.tsx
  src/client/ions/hooks/__test__/keyboard-controlled-images-navigation.test.tsx
  src/client/ions/hooks/__test__/scroll-position.test.tsx
Due: npx eslint --fix

chore: split Jest configuration for Client and Electron
  jest.config.client.ts
  jest.config.electron.ts
  jest.setup.electron.ts
  package.json
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: correct test directory naming in client hooks
  src/client/ions/hooks/__tests__/color-scheme.test.tsx
  src/client/ions/hooks/__tests__/columns.test.tsx
  src/client/ions/hooks/__tests__/keyboard-controlled-images-navigation.test.tsx
  src/client/ions/hooks/__tests__/scroll-position.test.tsx
Due: npx eslint --fix

chore: remove report
  playwright-report/index.html
Due: none

chore: ignore report
  .gitignore
Due: none

chore: adjust test config
  jest.config.electron.ts
Due: npx eslint --fix

Add GitHub Actions workflows for testing
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
Due: none

chore: add workflows
  .github/workflows/set-pr-title.yml
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
Due: none

test: adjust playwright
  playwright/index.test.ts
Due: npx eslint --fix

revert: revert change
  playwright/index.test.ts
Due: npx eslint --fix

chore: adjust test script
  package.json
Due: npx sort-package-json, npx prettier --write

test: add tests (#52)
  .github/workflows/set-pr-title.yml
  .github/workflows/test-client.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-electron.yml
  .gitignore
  jest.config.client.ts
  jest.config.electron.ts
  jest.setup.electron.ts
  package.json
  playwright-report/index.html
  playwright/index.test.ts
  src/client/ions/hooks/__tests__/color-scheme.test.tsx
  src/client/ions/hooks/__tests__/columns.test.tsx
  src/client/ions/hooks/__tests__/keyboard-controlled-images-navigation.test.tsx
  src/client/ions/hooks/__tests__/scroll-position.test.tsx
  src/client/ions/hooks/keyboard-controlled-images-navigation.ts
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

test: added basic e2e test
  playwright/live-painting.test.ts
  src/client/organisms/layout/index.tsx
Due: npx eslint --fix

chore: example image
  resources/python/live-painting/test-resources/input.png
Due: none

feat: advanced python script lifecycle control
  resources/python/live-painting/main.py
  src/client/pages/[locale]/live-painting.tsx
  src/electron/future/ipc/listeners.ts
Due: npx eslint --fix

test: skip test as it is not working yet because of the installer screen
  playwright/live-painting.test.ts
Due: npx eslint --fix

feat: live painting (#49)
  playwright/live-painting.test.ts
  resources/python/live-painting/main.py
  resources/python/live-painting/test-resources/input.png
  src/client/organisms/layout/index.tsx
  src/client/pages/[locale]/live-painting.tsx
  src/client/public/locales/de/common.json
  src/client/public/locales/de/labels.json
  src/client/public/locales/en/common.json
  src/client/public/locales/en/labels.json
  src/client/public/locales/es/common.json
  src/client/public/locales/es/labels.json
  src/client/public/locales/fr/common.json
  src/client/public/locales/fr/labels.json
  src/client/public/locales/he/common.json
  src/client/public/locales/he/labels.json
  src/client/public/locales/it/common.json
  src/client/public/locales/it/labels.json
  src/client/public/locales/ja/common.json
  src/client/public/locales/ja/labels.json
  src/client/public/locales/nl/common.json
  src/client/public/locales/nl/labels.json
  src/client/public/locales/pl/common.json
  src/client/public/locales/pl/labels.json
  src/client/public/locales/pt/common.json
  src/client/public/locales/pt/labels.json
  src/client/public/locales/ru/common.json
  src/client/public/locales/ru/labels.json
  src/client/public/locales/zh/common.json
  src/client/public/locales/zh/labels.json
  src/electron/future/ipc/listeners.ts
  src/shared/enums.ts
Due: npx eslint --fix

test: allow testing of main window
  playwright/installer.test.ts
  playwright/main-window.test.ts
  src/client/organisms/layout/index.tsx
  src/electron/future/main.ts
Due: npx eslint --fix

test: add main window (#53)
  playwright/installer.test.ts
  playwright/main-window.test.ts
  src/client/organisms/layout/index.tsx
  src/electron/future/main.ts
Due: npx eslint --fix

feat: adjust folders
  resources/python/live-painting/main.py
  src/electron/future/ipc/listeners.ts
  src/electron/future/utils/path-helpers.ts
Due: npx eslint --fix

feat: live painting config (#54)
  resources/python/live-painting/main.py
  src/electron/future/ipc/listeners.ts
  src/electron/future/utils/path-helpers.ts
Due: npx eslint --fix

chore(release): 1.0.0-alpha.2
  CHANGELOG.md
  README.md
  package.json
Due: npx sort-package-json, npx prettier --write, npx markdown-toc -i

Notes added by 'git notes add'
  4feace7312ac6cc89bea0aafe37ddf3cd04b281a
Due: none

feat: only generate output when input image was changed
  resources/python/live-painting/main.py
Due: none

ci: run on windows-latest, don't persist credentials
  .github/workflows/release-windows.yml
Due: none

Path conditions:
  npx eslint --fix: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.cjs)) or (any of: *.mjs)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
